.card {
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #ccc;
  }
  
  h1 {
    color: #333;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

 .send{
      display: flex;
  }